#header{
	background-color:white;
}

body{
	font-family: 'Raleway', sans-serif;
}

#navmenu a {color: #FFFFFF;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
border-left:3px solid black;}

#navmenu{
    border: solid;
    font-size: 24px;
    padding: 8px;
    background-color: #0061a7;
	text-align:center;
}

#navright{
    border-right:3px solid black;
}

#footer{

height: 80px;
padding-top: 0.75%;
border:3px solid black;
background-color: #00529F;
padding-bottom:40px;


}

#col1{
	text-align: center;
float:left;
font-size:13px;
color: white;
padding-left: 30px;
}

#col2{
	padding-left:400px;
text-align: center;
float:left;
font-size:13px;
color: white;


}

#col2 a{
	text-decoration:none;
	color:white;
}
#col3{
	padding-top:20px;
	padding-right: 60px;
float:right;
}

.header{
text-align:center;
margin-top:-120px;


}

#input2{
	text-align:center;

}


input[type=text] {
  border: 2px solid #00529F;
  border-radius: 4px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:5px;
  margin-right:5px;
  font-family:'raleway' sans-serif;
  font-size:15px;


}
input[type=email] {
  border: 2px solid #00529F;
  border-radius: 4px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:5px;
  margin-right:5px;
  font-family:'raleway' sans-serif;
  font-size:15px;


}

input[type=password] {
  border: 2px solid #00529F;
  border-radius: 4px;
  margin-left:5px;
  margin-right:5px;
   margin-top:15px;
  margin-bottom:15px;
  font-family:'raleway' sans-serif;
  font-size:15px;

}

.show{
	width:160px;
	font-family:'raleway' sans-serif;
  font-size:20px;
	height:80px;
text-align: center;
margin-left: 44%;
margin-right: 47%;
}

.show {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#00529F;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:3px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.show:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.show:active {
	position:relative;
	top:1px;
}

.none{
	text-decoration:none;
	color:white;
}

#floatL{
	width:45%;
	float:left;
	margin-left:2.5%;
}
#floatr{
	width:45%;
	float:left;
	margin-left:5%;
	margin-right:2.5%;
}
#banner{
margin-bottom:300px;
}





#submit{clear:both;
	font-size:120%;
color:red;}

form tr td{
	text-align:left;
}
.container {
  width: 250px;
  clear: both;
  margin-left:40%;

}

.container [input=text] {
  width: 100%;
  clear: both;
}

#center{
	text-align:center;
}

textarea {
  border: 2px solid #00529F;
  border-radius: 4px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:-120px;
  margin-right:5px;
  font-family:'raleway' sans-serif;
  font-size:15px;
  width:200%;
  height:150%;


}




.circular {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
#topH{
	background-color:#0061a7;
	border: 2px solid black;
	width:99%;
	height:80px;
	margin-top:1%;
	text-align:center;
}
.search{
	float: right;
}
.search input{
width:30px;
height:10px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.main {
  transition: margin-left .5s;
  padding: 16px;
}

#docimg{
	text-align:center;
	padding-top:20px;
}

#docimg img{
	height:200px;
	width:250px;
	margin-left:20px;
}
body{
overflow-y: scroll;
overflow-x: hidden;}

#topH img{
height:100px;
width:100px;
padding-top:30px;
}

#docimg input[type=text]{
	float:right;
	margin-left:-250px;

}

#docimg button{
	float:right;
	height:30px;
	width:30px;

}

.docspatient{
	border:2px solid black;
	overflow:hidden;
	margin:auto;
	width:75%;

}





.docpatimage{
	float:left;
	width:33%;
}

.docpatinfo{
	float:left;
	width:33%;
	text-align:center;
}

.functions{
	margin-top:40px;
	float:left;
	width:33%;
	text-align:center;
}

.functions input{
	padding-top:15px;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align:center;
  padding-bottom:13px;
  padding-right:10px;
  padding-left:10px;

}

.functions input {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.functions input:hover {
  background-color: #00529F;
  color: white;
}

.docpatinfo input{
	padding-top:15px;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align:center;
 padding-bottom:15px;

}

.docpatinfo input {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.docpatinfo input:hover {
  background-color: #00529F;
  color: white;
}

#doctordiv{
text-align: center;

}
#list-item{
text-align:center;
float:left;
width:50%;
margin-bottom: 50px;

}


#list-itemAccepted{
  float:right;
  width:50%;
  margin-bottom: 50px;
}