#header{
	background-color:white;
}

body{
	font-family: 'Raleway', sans-serif;
}

#navmenu a {color: #FFFFFF;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
border-left:3px solid black;}

#navmenu{
    border: solid;
    font-size: 24px;
    padding: 8px;
    background-color: #00529F;
	text-align:center;
}

#navright{
    border-right:3px solid black;
}

#footer{ 
text-align: center; 
color: blue;
height: 100%;
padding-top: 0.75%;
background-color: white;   
padding-bottom:50px;    
}

#col{
width:32%;
float:left;	
}

.header{
text-align:center;
margin-top:-120px;
	
	
}

#input{
	text-align:center;
}
#input input{

}

input[type=text] {
  border: 2px solid #00529F;
  border-radius: 4px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:5px;
  margin-right:5px;
  font-family:'raleway' sans-serif;
  font-size:20px;
}

input[type=password] {
  border: 2px solid #00529F;
  border-radius: 4px;
  margin-left:5px;
  margin-right:5px;
   margin-top:15px;
  margin-bottom:15px;
  font-family:'raleway' sans-serif;
  font-size:20px;
}

